<div class="desc">
    <h1>ember-cli-simditor
        <a href="https://travis-ci.org/wecatch/ember-cli-simditor">
            <img src="https://travis-ci.org/wecatch/ember-cli-simditor.svg?branch=master" alt="">
        </a>
    </h1>
    <p>
        Ember component wrapper for simditor editor.
    </p>
    <a href="https://github.com/wecatch/ember-cli-simditor">Github</a>
    <a href="http://wecatch.me">Wecatch</a>
</div>
<div class="code">
    <h1>How to use</h1>
    <code>
        <pre>\{{simditor-editor value=model update=(action (mut model.content)) editor=(mut editor) onValuechanged=(action "valuechanged")}}</pre>
    </code>
    <p>
        <strong>Model object must have one property called content for component to render.</strong>
    </p>
</div>
<div>
    <h1>Editor methods</h1>
    <button type="button" {{on "click" this.setValue }}>setValue</button>
    <button type="button" {{on "click" this.getValue }}>getValue</button>
    <button type="button" {{on "click" this.sync }}>sync</button>
    <button type="button" {{on "click" this.focus }}>focus</button>
    <button type="button" {{on "click" this.blur }}>blur</button>
    <button type="button" {{on "click" this.hidePopover }}>hidePopover</button>
</div>
<br>
<h1>Editor</h1>
<SimditorEditor @value={{get this.model 'one'}} @update={{fn (mut this.model.one.content)}} @editor={{fn (mut this.editor)}} @toolbar={{this.toolbar}} @onValuechanged={{this.valuechanged}} ></SimditorEditor>
<div>
    <h1>Html content</h1>
    {{this.model.one.content}}
</div>